
 <link rel="stylesheet" href="/styles/userHome.css">
    <div class="navbar">
        <a href="/user/logout">
        <button class="logout-btn">Logout</button>
        </a>
        
    </div>


    <div class="hero">
           <div class="welcome-card">
            <h2>Welcome to This page</h2>
            
        </div>
    </div>

